@{
    ViewBag.Title = "Bail out...";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

We are sure you gave it your best. Please email your zipped up solution to <a href="mailto:bonga@jagmethod.com">bonga@jagmethod.com</a>.<br/>
<br />
Before doing so please remember to do the following
<ul>
    <li>Delete all obj and bin folders</li>
    <li>Remove the nuget packages folder</li>
    <li>Comment on things that you liked or didn't like about the test. You can add it to the email or a readme.txt</li>
    <li>Please check that the .zip file is as small as possible.</li>
</ul>
