@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Bonga Mbombi<br/>
    JAG Method<br />
    Upper Floor Atholl Square<br />
    Cnr Katherine & Wierda Road East<br />
    Sandton<br />
    South Africa
</address>

Give me a shout if you need to some help. During work hours I should reply to my mail within an hour. Otherwise if it is a decent hour, call me on my cell and I will try help out.<br />
<br />
<address>
    <strong>Help:</strong>   <a href="mailto:bonga@jagmethod.com">bonga@jagmethod.com</a><br />
    <strong>Phone a friend:</strong> <a href="tel:+27626080989">062 608 0989</a>  <br />
</address>

<h4>Ready to hand in the test?</h4>
Please do your and our bandwidth a favor and clean up your solution files!
<ul>
    <li>Delete all obj and bin folders</li>
    <li>Remove the nuget packages folder</li>
    <li>Please check that the .zip file is as small as possible.</li>
</ul>
