@{
    ViewBag.Title = "Question 03 - Arrays";
}
<h2>@ViewBag.Title.</h2>

<h3>Part 1</h3>
<p>
    Given two Arrays:<br/>
    <p>
    Arr1 = [1,2,3,4,5,100,42,50]<br />
    Arr2 = [3,2,9,3,7,42,42,a]<br />
    </p>
    Write a method that will display items that are common to both arrays.
</p>

<p class="alert-success">
    [@ViewBag.CommonElements1]
</p>

<h3>Part 2</h3>
<p>
    Should you have used a loop to solve part 1; please answer the question again.<br/>
    <b>This time do not use a loop.</b>
</p>

<p class="alert-success">
    [@ViewBag.CommonElements2]
</p>
<br />
@Html.ActionLink("Too easy!", "Index", "Question", null, new { @class = "btn btn-success" })